{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<!-- Main Content Area with centered logo and larger size -->
<div class="relative min-h-screen bg-gray-100 flex flex-col items-center justify-center"> <!-- Center the content vertically and horizontally --> 
  <!-- Main Content Area -->
  <div class="relative z-5 max-w-7xl mx-auto text-center"> <!-- Removed padding-top -->
    <img src="{% static 'images/logo.png' %}" class="h-80 w-auto mx-auto" alt="Shopious logo" /> <!-- Make logo larger with h-64 -->
  </div>

  <a href="{% url 'main:create_add_item' %}">
    <button type="button" class="bg-black text-white py-2 px-6 rounded-lg hover:bg-blue-600 transition">Add New Product</button>
  </a>
  <!-- Include the Product Grid from another file -->
  {% include 'card_product.html' %}
</div>

{% endblock content %}
